boto
botocore
certifi
chardet
Django
django-crispy-forms
docutils
gunicorn
idna
jmespath
Pillow
psycopg2-binary
python-dateutil
pytz
requests
requests-oauthlib
s3transfer
six
urllib3
whitenoise
django-heroku
